.idea/
/Test_folder/.idea
/Dev/Parralel_compute/Cam_lib/__pycache__
/Dev/Face_detect/.ipynb_checkpoints
/Test_folder/Tam module/face-mask-detector/dataset
/Dev/Loopback_data/PC_Temp_mask/Cam_PC/Cam_lib/Stream_lib/__pycache__/
/Main_path/Camera/PC/Cam_lib/Stream_lib/__pycache__/

